<div class="container-fluid">
<h2>If you are a real hero, get preoccupied with us!</h2>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div ng-controller="registryCtrl as registryCtrl">
				<form class="form-style" name="regForm" ng-submit="registryCtrl.registry()">
					<label>
						Login:<br> <input type="text" name="login" required ng-model="user.login" ng-minlength="3" ng-maxlength="20">
					</label>
					<span ng-show="regForm.login.$error.required && regForm.login.$dirty">Required!</span>
					<span ng-show="regForm.login.$dirty && regForm.login.$error.minlength">Very short!</span>
					<span ng-show="regForm.login.$error.maxlength && regForm.login.$dirty">Very long!</span>
					<br>
					<label>
						Email:<br> <input type="email" name="email" required ng-model="user.email" >
					</label>
					<span ng-show="regForm.email.$error.required && regForm.email.$dirty">Required!</span>
					<span ng-show="regForm.email.$invalid && regForm.email.$dirty && !regForm.email.$error.required">Incorrect format!</span>
					<br>
					<label>
						Password:<br> <input type="password" name="pass" required ng-model="user.pass" ng-minlength="3" ng-maxlength="30">
					</label>
					<span ng-show="regForm.pass.$error.required && regForm.pass.$dirty">Required!</span>
					<span ng-show="regForm.pass.$dirty && regForm.pass.$error.minlength">Very short!</span>
					<span ng-show="regForm.pass.$error.maxlength && regForm.pass.$dirty">Very long!</span>
					<br>
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
	</div>
</div>
