<div class="container-fluid">
	<h2>Choose your favorite town and army!</h2>
	<div class="row check-town" ng-controller="townUnitsCtrl as townUnitsCtrl">
		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 animated bounceInUp">
			<p ng-repeat="check in townUnitsCtrl.checkTown">
				<label><input type="radio" name={{check.value}} value={{check.value}} ng-model="townUnitsCtrl.checkTown.value">{{check.name}}</label>
			</p>
		</div>
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
			<div ng-switch on="townUnitsCtrl.checkTown.value">
				<div ng-switch-when="castle">
					<div class="row  unit-list animated rubberBand">
						<h4>Start army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[0].warUnitStart" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
					<br>
					<div class="row  unit-list animated rubberBand">
						<h4>Upgrade army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[0].warUnitUp" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="rampart">
					<div class="row  unit-list animated rubberBand">
						<h4>Start army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[1].warUnitStart" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
					<br>
					<div class="row unit-list animated rubberBand">
						<h4>Upgrade army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[1].warUnitUp" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
				</div>
				<div ng-switch-when="tower">
					<div class="row  unit-list animated rubberBand">
						<h4>Start army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[2].warUnitStart" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
					<br>
					<div class="row unit-list animated rubberBand">
						<h4>Upgrade army:</h4>
						<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2 unit-cont" ng-repeat="unit in townUnitsCtrl.units[2].warUnitUp" ng-click="townUnitsCtrl.modal('sm', unit)">
							<p>{{unit.name}}</p>
							<div>
								<span>health:</span> {{unit.health}}<br>
								<span>attack:</span> {{unit.attack}}<br>
								<span>protection:</span> {{unit.protection}}<br>
								<span>damage:</span> {{unit.damage}}<br>
								<span>speed:</span> {{unit.speed}}<br>
								<span>price:</span> {{unit.price}}<br>
								<img ng-src={{unit.src}}>
							</div>
						</div>
					</div>
				</div>
				<div class="animated lightSpeedIn" ng-switch-default>Check town please...</div>
			</div>
		</div>
	</div>
</div>