@font-face {
  font-family: astahov;
  src: url(../../fonts/astahov.ttf);
}
@font-face {
  font-family: segoe;
  src: url(../../fonts/segoe.ttf);
}
@font-face {
  font-family: ice;
  src: url(../../fonts/ice.ttf);
}
@font-face {
  font-family: morning-glory;
  src: url(../../fonts/morning-glory.otf);
}
@font-face {
  font-family: byrnison;
  src: url(../../fonts/byrnison.otf);
}
@font-face {
  font-family: land;
  src: url(../../fonts/land.ttf);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
h1,
h2,
h3 {
  padding: 0;
  font-family: ice, Helvetica, sans-serif;
  text-align: center;
  color: rgba(128, 0, 0, 0.6);
  margin: 20px auto 50px;
}
h4 {
  margin-top: 0;
}
a {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  background: url(../../img/pero.jpg);
  font-family: segoe, Helvetica, sans-serif;
  height: 100%;
}
#main-wrap {
  background: beige;
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
.form-style {
  width: 100%;
  text-align: center;
}
.form-style label span {
  position: static;
  float: none;
  display: inherit;
  font-size: 20px;
  color: brown;
  margin: 10px 0;
  font-family: byrnison, Arial, sans-serif;
  font-weight: normal;
}
.form-style input,
.form-style label {
  width: 80%;
}
.form-style input {
  height: 35px;
}
.form-style input,
.form-style textarea,
.form-style button {
  background: whitesmoke;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #FFE4B5;
  padding: 10px;
  outline: 0;
  font-family: segoe, Arial, sans-serif;
  font-weight: normal;
  color: black;
}
.form-style textarea {
  width: 90%;
}
.form-style button {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid #FFE4B5;
  margin: 50px 0 0 0;
  padding: 5px;
  width: 30%;
  color: brown;
  background: #FFFFE0;
  font-size: 20px;
  font-family: byrnison, Arial, sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.form-style button:hover {
  background: brown;
  color: whitesmoke;
}
.form-style span {
  float: right;
  position: absolute;
  color: orange;
  font-weight: bold;
  right: 1%;
}
.form-style .ng-invalid.ng-dirty {
  border: 2px solid red;
  -webkit-box-shadow: 0 0 10px #ff0000;
  box-shadow: 0 0 10px #ff0000;
}
.form-style .ng-valid.ng-dirty {
  border: 2px solid green;
  -webkit-box-shadow: 0 0 10px #228b22;
  box-shadow: 0 0 10px #228b22;
}
header {
  min-height: 8%;
  position: fixed;
  z-index: 2;
  width: 95%;
}
.menu {
  text-align: center;
  background: #F5DEB3;
}
.menu .link {
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.menu .link:hover {
  background: #800000;
}
.menu .dropdown-toggle:after {
  content: "";
  border-top: 5px dashed;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}
.menu .dropdown-menu {
  left: 10%;
  text-align: center;
}
.menu .dropdown-menu li a {
  font-size: 13px;
}
.menu a {
  padding: 10px 0;
  display: block;
  font-family: astahov, Helvetica, Arial, sans-serif;
  color: #800000;
  font-size: 18px;
}
.menu a:hover {
  text-decoration: none;
  color: #FFDEAD;
}
.menu a:focus {
  text-decoration: none;
}
.active {
  border-bottom: 1px solid #800000;
  text-shadow: 0 0 10px #ff0000;
}
.mob-menu {
  text-align: center;
  display: none;
}
.mob-menu span {
  padding: 5px 0;
  background: #F5DEB3;
  font-family: astahov, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #800000;
  display: block;
}
.mob-menu ul {
  list-style: none;
  display: none;
  opacity: 0.9;
  background: whitesmoke;
}
.mob-menu ul a {
  color: black;
}
main {
  background: beige;
  min-height: 93%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 50px 0 10px 0;
}
.town-name {
  font-size: 25px;
  font-family: morning-glory, Helvetica, sans-serif;
  color: #DC143C;
}
.town-img {
  width: 100%;
}
.vin-hor {
  margin: 30px 0;
  text-align: center;
}
.slider {
  margin-bottom: 100px;
}
.check-town label {
  font-size: 25px;
  font-family: morning-glory, Helvetica, sans-serif;
  color: #DC143C;
  cursor: pointer;
}
.check-town label input {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}
.comparison h4 {
  margin: 15px 0;
  color: grey;
}
.comparison h5 {
  color: rgba(128, 128, 128, 0.7);
}
.comparison button {
  margin-top: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid grey;
  cursor: pointer;
  outline: none;
}
.comparison select {
  background: whitesmoke;
  border: 2px solid bisque;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
}
.comparison option {
  color: rgba(128, 128, 0, 0.8);
}
.unit-list .unit-cont {
  cursor: pointer;
}
.unit-list .unit-cont:hover p {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  text-shadow: 0 0 10px #0000ff;
}
.unit-list p {
  color: rgba(0, 0, 255, 0.6);
  font-family: land, Helvetica, sans-serif;
  line-height: 1;
  font-size: 30px;
  text-transform: capitalize;
}
.unit-list div span {
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: bold;
  color: #556B2F;
}
.unit-list h4 {
  color: rgba(0, 128, 0, 0.6);
  border-bottom: 2px solid green;
}
.modal-header h3 {
  color: rgba(0, 0, 255, 0.6);
  font-family: land, Helvetica, sans-serif;
  font-size: 30px;
  line-height: 0.5;
}
.modal-body h4 {
  color: rgba(153, 50, 204, 0.6);
}
.modal-body span {
  font-family: Georgia, Helvetica, sans-serif;
  color: rgba(47, 79, 79, 0.8);
}
.modal-body .min {
  color: red;
}
.modal-body .max {
  color: green;
}
.message-cont {
  padding-top: 100px;
}
.reg-alert {
  background: greenyellow;
  color: black;
  width: 50%;
  margin: 20px auto;
}
.reg-alert .user-name {
  color: red;
  font-size: 20px;
}
footer {
  text-align: center;
  background: #F5DEB3;
  padding-top: 10px;
  min-height: 7%;
  font-size: 18px;
  color: #800000;
}
footer span {
  margin-right: 20px;
}
footer select {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;
}
/*****************************media********************/
@media all and (max-width: 767px) {
  .mob-menu {
    display: block;
  }
  .town-img {
    margin-bottom: 10px;
  }
  .vin-hor img {
    width: 100%;
  }
  .label-town {
    display: inline-block;
    width: 25%;
    text-align: center;
  }
  .comparison select {
    width: 50%;
  }
  .comparison select:nth-of-type(2) {
    margin-bottom: 25px;
  }
  .comparison button {
    margin-top: 0;
    position: relative;
    bottom: 30px;
    left: 20%;
  }
  .unit-list {
    text-align: center;
  }
  .soc-links {
    margin-bottom: 10px;
  }
}
@media all and (max-width: 550px) {
  .modal-unit-box {
    display: none;
  }
  .label-town {
    width: 50%;
  }
  .form-style input[type=submit] {
    width: 50%;
  }
  .form-style button {
    width: 70%;
  }
}
@media all and (min-width: 1700px) {
  .unit-list .unit-cont {
    width: 14%;
  }
}
